if messages.length > 0
    for msg in messages
        .card.my-3.col-12
            .card-body
                h5.card-title.mt-4 #{msg.title}
                h6.card-subtitle.mb-2.text-muted #{msg.timestamp} 
                img(src=msg.imageUrl, alt="no image")
                br
                pre.card-text.message #{msg.body}
                br
                .user-info
                    p.card-text.name 작성자 : #{msg.name}
                    p.card-text.date 구매일 : #{msg.date}

else
    p.alert.alert-info(role='alert')
        | There is currently no data.
